cd /lib/systemd/system
sudo nano mjpg_streamer.service
-------------------------------------------------------------------------------


[Unit]
Description=MJPG Streamer
Requires=dev-video0.device
BindsTo=dev-video0.device
After=network-online.target

[Service]
ExecStart=/usr/local/bin/mjpg_streamer -i "input_uvc.so -r 720x480 -q 100 -y -d /dev/video0" -o "output_http.so -p 9090 -w /usr/local/share/mjpg-streamer/www -c admin:admin"

[Install]
WantedBy=multi-user.target


-------------------------------------------------------------------------------

sudo systemctl enable mjpg_streamer.service to enable it.

sudo systemctl start mjpg_streamer.service to start it.

sudo systemctl stop mjpg_streamer.service to stop it.

sudo systemctl status mjpg_streamer.service to view its status.

